# Pattern

# A

In [38]:
for row in range(6):
  for col in range(5):
    if ((col ==0 or col == 4) and (row != 0)) or (row==0 or row==3) and (col >0 and col <4) :
      print('*',end= ' ')
    else:
      print(end='  ')
  print()

  * * *
*       *
*       *
* * * * *
*       *
*       *

In [2]:
for row  in range(6):
  for col in range(5):
    if ((col ==0 or col ==4) and (row!=0)) or ((row==0 or  row==3) and (col>0 and col<4)):
      print('*',end=' ')
    else:
      print(end='  ')
  print()

  * * *
*       *
*       *
* * * * *
*       *
*       *

# B

In [3]:
for row in range(7):
  for col in range(4):
    if (((col ==0 or (col ==3 and row!=0 and row!=6 and row!=3))) or ((row==0 or row==3 or row ==6) and (col>0 and col <3))):
      print('*',end=' ')
    else:
      print(end='  ')
  print()

* * *
*     *
*     *
* * *
*     *
*     *
* * *

# C

In [4]:
for row in range(6):
  for col in range(4):
    if (col ==0 and (row !=0 and row !=5)) or ((row==0 or row==5) and (col!=0)):
      print('*',end=' ')
    else:
      print(end=' ')
  print()

 * * *
*
*
*
*
 * * *

# D

In [5]:
for row in range(6):
  for col in range(4):
    if (row ==0 or row ==5) and(col !=3) or (col ==0 or (col == 3 and row !=0 and row!=5)):
      print('*',end=' ')
    else:
      print(end='  ')

  print()

* * *
*     *
*     *
*     *
*     *
* * *

# E

In [6]:
for row in range(7):
  for col in range(6):
    if (col == 0 and row!=0 and row!=6) or (row ==0 or row == 6 or row ==3) and (col > 0 and col <5) :
      print('*',end=' ')
    else:
      print(end=' ')
  print()

 * * * *
*
*
* * * * *
*
*
 * * * *

# F

In [7]:
for row in range(7):
  for col in range(6):
    if col == 0 or row ==0 or (row ==3 and col<5):
      print('*',end=' ')
    else:
      print(end=' ')
  print()

* * * * * *
*
*
* * * * *
*
*
*

# G

In [8]:
for row in range(7):
  for col in range(4):
    if (col == 0 and row!=0 and row !=6) or (row == 0 or row== 6) and (col !=0) or ((row ==4) and (col !=0 and col !=1) or ((row ==5) and col >2)):
      print('*',end=' ')
    else:
      print(end=' ')
  print()

 * * *
*
*
*
*  * *
*   *
 * * *

# H

In [9]:
for row in range(7):
  for col in range(5):
    if (col ==0 or col ==4) or (row == 3 and col > 0 and col <4):
      print('*',end=' ')
    else:
      print(end='  ')
  print()

*       *
*       *
*       *
* * * * *
*       *
*       *
*       *

# I

In [10]:
for row in range(7):
  for col in range(5):
    if (row == 0 or row ==6) or col ==2:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

# J

In [11]:
for row in range(7):
  for col in range(5):
    if (row == 0 or (row ==6 and col<2 )) or (col ==2) or (row==5 and col <1):
      print('*',end=' ')
    else:
      print(end='  ')
  print()

* * * * *
    *
    *
    *
    *
*   *
* * *

# K

In [12]:
row_v = 0
col_v =3
for row in range(7):
  for col in range(4):
    if col ==0 or row==col+3:
      print('*',end=' ')
    elif row ==row_v and col ==col_v:
      print('*',end=' ')
      row_v +=1
      col_v -=1
    else:
      print(end='  ')
  print()

*     *
*   *
* *
*
* *
*   *
*     *

# L

In [13]:
for row in range(7):
  for col in range(5):
    if col==0 or row==6:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

*
*
*
*
*
*
* * * * *

# M

In [14]:
for row in range(6):
  for col in range(5):
    if col ==0 or col ==4 or row ==col and col>0and col<3 or col ==3 and row==1:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

*       *
* *   * *
*   *   *
*       *
*       *
*       *

<>:3: SyntaxWarning: invalid decimal literal
<>:3: SyntaxWarning: invalid decimal literal
C:\Users\nikes\AppData\Local\Temp\ipykernel_12456\587524721.py:3: SyntaxWarning: invalid decimal literal
  if col ==0 or col ==4 or row ==col and col>0and col<3 or col ==3 and row==1:

# N

In [15]:
for row in range(6):
  for col in range(6):
    if col ==0 or col ==5 or row ==col :
      print('*',end=' ')
    else:
      print(end='  ')
  print()

*         *
* *       *
*   *     *
*     *   *
*       * *
*         *

# O

In [16]:
for row in range(5):
  for col in range(5):
    if (col ==0 or col==4 )and (row !=0 and row !=4) or (row==0 or row==4) and (col>0 and col <4):
      print('*',end=' ')
    else:
      print(end='  ')
  print()

  * * *
*       *
*       *
*       *
  * * *

# P

In [17]:
for row in range(7):
  for col in range(4):
    if (col ==0 or col ==3 and row >0 and row <3) or (row ==0 and col<3) or row ==3 and col<3:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

* * *
*     *
*     *
* * *
*
*
*

# Q

In [18]:
for row in range(6):
  for col in range(5):
    if (row==0 or row==4) and 0<col<4 or (col==0 or col==4) and 0<row<4 or row==col+1 and row!=2:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

  * * *
*       *
*       *
*   *   *
  * * *
        *

# R

In [19]:
for row in range(7):
  for col in range(7):
    if col ==0 or col ==4 and row>0 and row<3 or (row==0 or row==3 )and col<3  or row ==col and row> 3 and col >0:
      print('*',end=' ')
    else:
      print(end=' ')
  print()

* * *
*    *
*    *
* * *
*    *
*     *
*      *

In [20]:
for row in range(7):
  for col in range(5):
    if col ==0 or col ==4  and 0<row<3 or ((row==0 or row==3) and col !=4) or row==col+2:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

* * * *
*       *
*       *
* * * *
*   *
*     *
*       *

# S

In [21]:
for row in range(7):
  for col in range(5):
    if row == 0 and col>0 and col <4 or row==3 and col>0 and col<4 or row ==6 and col >0 and col<4 or col==0 and row>0 and row<3 or col==4 and row >3 and row <6:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

  * * *
*
*
  * * *
        *
        *
  * * *

# T

In [22]:
for row in range(7):
  for col in range(5):
    if row ==0 or col ==2:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

* * * * *
    *
    *
    *
    *
    *
    *

# U

In [23]:
for row in range(5):
  for col in range(5):
    if (col ==0 or col == 4) and row !=4 or row ==4 and col>0 and col<4:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

*       *
*       *
*       *
*       *
  * * *

# V

In [24]:


for row in range(4):
  for col in range(7):
    if col == row or row+col ==6:
      print('*',end='')
    else:
      print(end=' ')
  print()

*     *
 *   *
  * *
   *

# X

In [25]:


for row in range(7):
  for col in range(7):
    if col == row or row+col ==6:
      print('*',end='')
    else:
      print(end=' ')
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [26]:
for row in range(7):
  for col in range(7):
    if row==0 or row ==6 or col+row ==6:
      print('*',end=' ')
    else:
      print(end='  ')
  print()

* * * * * * *
          *
        *
      *
    *
  *
* * * * * * *

In [27]:
for row in range(5):
  for col in range(row+1):
    print('*',end='')
  print()

*
**
***
****
*****

In [28]:
for row in range(5,0,-1):
  for col in range(1,row+1):
    print('*',end='')
  print()

*****
****
***
**
*

In [29]:
for row in range(5):
  for col in range(row+1):
    print('*',end='')
  print()
for  row in range(5):
  for col in range(5-row):
    print('*',end='')
  print()

*
**
***
****
*****
*****
****
***
**
*

In [30]:
for row in range(6):
  for col in range(1,row+1):
    print('==$>-',end='')
  print()
for row in range(5,0,-1):
  for col in range(1,row+1):
    print('==$>-',end='')
  print()

==$>-
==$>-==$>-
==$>-==$>-==$>-
==$>-==$>-==$>-==$>-
==$>-==$>-==$>-==$>-==$>-
==$>-==$>-==$>-==$>-==$>-
==$>-==$>-==$>-==$>-
==$>-==$>-==$>-
==$>-==$>-
==$>-

In [31]:
for row in range(6):
  for col in range(1,row+1):
    print(col,end='')
  print()

1
12
123
1234
12345

In [32]:
for row in range(5,0,-1):
  for col in range(1,row+1):
    print(col,end='')
  print()

12345
1234
123
12
1

In [33]:
for row in range(5+1):
  for col in range(1,row+1):
    print(col,end='')
  print()



for row in range(5+1):
  for col  in range(1,6-row):
    print(col,end='')
  print()

1
12
123
1234
12345
12345
1234
123
12
1

In [34]:
for row in range(5):
  for space in range(4-row):
    print(' ',end='')
  for col in range(2 * row+1):
    print('*',end='')
  print()

    *
   ***
  *****
 *******
*********

In [35]:
for row in range(5):
  for space in range(4-row):
    print(' ',end='')
  for col in range(2 * row+1):
    print('*',end='')
  print()

for row in range(3,-1,-1):
  for space in range(4-row):
    print(' ',end='')
  for col in range(2 * row+1):
    print('*',end='')
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [36]:
for row in range(1,6):
  for space in range(1,6-row):
    print(' ',end='')
  for col in range(1,(2*row-1)+1):
    print('*',end='')
  print()
for row in range(4,0,-1):
  for space in range(1,6-row):
    print(' ',end='')
  for col in range(1,(2*row-1)+1):
    print('*',end='')
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *